@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html,
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	flex-grow: 1;
	background: #191b26;
	color: #fff;
}
